body {
    width: 600px;
    font-family: 'Courier New', Courier, monospace;
    background-color: white;
}

h1 {
    text-align: center;
    font-size: 50px;
    font-weight: bolder;
    /* margin: auto; */
}

button {
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: 20px;
    width: 140px;
    height: 50px;
    border-style: none;
    border-radius: 20px;
}

#btn-reset {
    display: none;
}

#btn-start {
    display:block;
}

.title {
    text-align: center;
}

.status {
    font-size: 40px;
    font-weight: bold;
    height: 30px;
    margin-bottom: 50px;
    text-align: center;
    color: white;
}

.grid {
    display: grid;
    width: 600px;
    grid-template-rows: 80px 200px 200px 200px;
    grid-template-columns: 200px 200px 200px;
    /* grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); */
    gap: 5px;
    align-items: center;
}

.cell {
    /* border-style: solid; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    /* background-color: #F5DD61; */
    background-color: white;
    color: #F4538A;
    font-weight: 900;
    font-size: 157px;
    text-align: center;
    min-height: 180px;
}

.player, .buttons {
    border-style: none;
    text-align: center;
    background-color: white;
    color: black;
    font-size: 30px;
    min-height: 80px;
}

.player1 {
    color: #59D5E0;
}
.player2 {
    color: #F4538A;
}


@media (max-width: 500px) {
    body {
        height: 100dvh;
    }

    h1 {
        /* margin-bottom: 47px; */
    }

    .status {
        font-size: 30px;
        margin-bottom: 65px;
    }

    .grid {
        width: 100%;
        height: 90dvh;
        grid-template-rows: 70px 195px 195px 195px;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 5px;
        align-items: center;
    }

    .cell {
        font-size: 120px;
        padding: 2px;
        min-height: 192px;
    }

    .player, .buttons {
        font-size: 2em;
        height: 50px;
    }
  }